<!doctype html>
<html>
<head>
<title>{{pageTitle}}</title>
</head>

<body>
{{> header}}

<h2><a href="/">Home</a></h2>
<h2><a href="/about">About</a></h2>
<section><h3>{{toUpper welcomeMsg}}</h3></section>

{{> footer}}
</body>

</html>